@import '../../assets/styles/Shared';

.car-list {
  width: 100%;
  height: 85vh;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 3%;
  overflow-y: scroll;
}

.car-list-item {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.car-list-item:hover {
  background-color: $background-color-dark;
  opacity: 0.8;
  cursor: pointer;
}

.car-list-text-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}

.car-list-text-container-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
}

.car-list-text-title {
  font-size: $text-title-size;
  color: $text-color;
  font-weight: $text-title-weight;
}

.car-list-text {
  font-size: $text-size;
  color: $text-color;
  font-weight: $text-weight;
}